*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: #5A5AD0;
}
aside{
    background-color: #15151F;
}
main{
    background-color: #1D1D29;
}
.webshit{
    display: flex;
    justify-content: center;
    align-items: center;
}