@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
 header svg{
    fill: white;
    height: 35px;
    width: 35px;
    padding-bottom: 6px;
    padding-left: 7px;
}
header{
    display: flex;
    background-color: #5A5AD0;
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
}
.container{
    height: 100vh;
}

main{
    background-color: #1D1D29;
    overflow-y: hidden;
    min-height: calc(100% - 100px);
    content: '';
}
.webshit{
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    border-radius: 20px;
    max-height: 35px;
    padding: 0px 20px;
    margin-left: 50px;
}
input[type=text]{
    width: 60vw;
    background-color: #232331;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2px;
    margin-left: 60px;
    color: white;
}
input[type=text]:focus{
    background-color: rgb(189, 188, 188);
    color: black;
    outline: none;
}
aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15151F;
    position: sticky;
    bottom: 0;
    height: 50px;
    width: 100%;
}
button{
    background-color: #15151F;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}
button svg{
    height: 35px;
    width: 35px;
}
ul{
    display: flex;
    flex-direction: column;
}
.enviada{
    background-color:white;
    border-radius: 22px;
    word-wrap: break-word;
    padding: 5px;
    list-style: none;
    margin: 10px;
    display: inline-block;
    float: right;
}
.receber{
    background-color:white;
    border-radius: 22px;
    word-wrap: break-word;
    padding: 5px;
    list-style: none;
    margin: 10px;
    display: inline-block;
}