@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
 header svg{
    fill: white;
    height: 35px;
    width: 35px;
    padding-bottom: 6px;
    padding-left: 7px;
}
header{
    display: flex;
    background-color: #5A5AD0;
    align-items: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
}
aside{
    background-color: #15151F;
}
main{
    background-color: #1D1D29;
}
.webshit{
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    border-radius: 20px;
    max-height: 35px;
    padding: 0px 20px;
    margin-left: 60px;
}
input[type=text]{
    width: 500px;
    background-color: #232331;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2px;
    margin-left: 60px;
}
input[type=text]:focus{
    background-color: rgb(189, 188, 188);
    outline: none;
}
aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: #15151F;
    border: none;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}